body {
    font-family: Arial, sans-serif;
    margin: 20px;
  }
  
  h2 {
    color: #333;
    text-align: center;
  }
  
  form {
    max-width: 400px;
    margin: auto;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  label {
    font-weight: bold;
  }
  
  input[type="text"], input[type="email"], input[type="password"], select {
    width: 100%;
    padding: 8px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  input[type="checkbox"] {
    margin: 10px 0;
  }
  
  input[type="submit"] {
    background-color: #008CBA;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #007bb5;
  }
  
  .right-align {
    text-align: right;
  }
  
  br {
    margin-bottom: 10px;
  }